<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">供货商修改</h4>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="editName">供货商名称</label>
                <input type="text" class="form-control" id="editName" placeholder="请输入供货商名称">
            </div>
            <div class="form-group col-lg-6">
                <label for="editType">供货商类别</label>
                <select class="form-control" id="editType">
                    <option>交易型</option>
                    <option>战略型</option>
                    <option>大额型</option>
                </select>
            </div>
        </div>
        <div class="row">
        <div class="form-group col-lg-6">
            <label for="editAddr">供货商地址</label>
            <input type="text" class="form-control" id="editAddr" placeholder="请输入供货商地址" >
        </div>
        <div class="form-group col-lg-6">
            <label for="editContact">联系方式</label>
            <input type="text" class="form-control" id="editContact" placeholder="请输入供货商联系方式" >
        </div>
    </div>
        <div class="form-group">
            <label for="editRemark">备注</label>
            <input type="text" class="form-control" id="editRemark" placeholder="请输入供货商备注" >
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" id="editSubmit">提交</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>
<script>
    $("#editSubmit").click(function(){
        var editName = $("#editName").val();
        var editType = $("#editType").select().val();
        var editAddr = $("#editAddr").val();
        var editContact = $("#editContact").val();
        var editRemark = $("#editRemark").val();
        alert(editName+"+"+editType+"+"+editAddr+"+"+editContact+"+"+editRemark);
    })
</script>