<!DOCTYPE html>
<html>

<head>
    <title>登录页面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <!--#include file="/views/common/link.html"-->
</head>

<body class="flat-green">
    <div class="pen-title">
        <h2>爱吃网管理系统</h2>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="form">
            <form>
                <div  class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" placeholder="请输入用户名" />
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" placeholder="请输入密码" />
            </div>
                <button role="button" class="btn btn-success" id="submit">登录</button>
            </form>
        </div>
        <div class="cta">
            <p>忘记密码请联系管理员</p>
        </div>
    </div>
    <!--#include file="/views/common/script.html"-->
    <script type="text/javascript" src="/js/user/login.js"></script>
</body>

</html>