<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">价格信息修改</h4>
</div>
<div class="modal-body">
    <form>
        <input type="text" class="hidden" id="editGoodsId" value=63>
        <div class="form-group">
            <label for="goodsName">商品名称</label>
            <p id="goodsName">苹果</p>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="editInPrice">商品进价</label>
                <input type="text" class="form-control" id="editInPrice" placeholder="请输入商品进价">
            </div>
            <div class="form-group col-lg-6">
                <label for="editOutPrice">商品市场价格</label>
                <input type="text" class="form-control" id="editOutPrice" placeholder="请输入商品市场价格">
            </div>
        </div>
        <div class="form-group">
                <label for="editRemark">商品备注</label>
                <input type="text" class="form-control" id="editRemark" placeholder="请输入商品备注">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" id="editSubmit">提交</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>
<script>
    $("#editSubmit").click(function(){
        var editGoodsId=$("#editGoodsId").val();
        var editInPrice=$("#editInPrice").val();
        var editOutPrice=$("#editOutPrice").val();
        var editRemark=$("#editRemark").val();
        alert(editGoodsId+"+"+editInPrice+"+"+editOutPrice+"+"+editRemark);
    })
</script>