<!DOCTYPE html>
<html>

<head>
    <title>爱吃网首页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <!--#include file="common/link.html"-->
</head>

<body class="flat-green">
    <div class="app-container expanded">
        <div class="row content-container">
            <!--#include file="common/header.html"-->
            <!--#include file="common/sidebar.html"-->
            <!-- Main Content -->
            <div class="container-fluid">

            </div>
        </div>
        <!--#include file="common/footer.html"-->
    </div>
    <!--#include file="common/script.html"-->
</body>

</html>